* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(assets/worldmap.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Ensures content doesn't spill out */
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  /* Optional: add padding or max-width if needed */
}

.logo {
  width: 94px;
  height: 94px;
  /* object-fit: contain; */
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header-text h1 {
  color: #32cd32;
}
